{% load form_tags %}
{% load i18n %}
{% load static %}
{% load display_datatype_filters %}
{% load currency_filters %}

{% block extrahead %}
  <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
{% endblock %}

<style>
#producttable td:hover{
  text-decoration: underline;
  background-color: #f7f7f7;
  cursor:pointer;
}
#producttable td{
  white-space:nowrap;
  border-right: 1px dotted lightgrey;
}
#producttable td.read_only{
  cursor:no-drop;
  text-decoration: unset;
}
</style>

<form>
  <table>
    {{ form.as_table }}
  </table>
</form>

<div id="producttable-progress" class="progress"  style="height: 3px;">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
  </div>
</div>

<table id="producttable" class="table table-hover table-sm table-responsive-md" style="display:none;">
  <thead>
    <tr class="sticky-top bg-light">
      {% for col in table.cols %}
        <th style="position: sticky;" scope="col" data-code="{{ col.code }}">{{ col.name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% include './table_page.html' %}
  </tbody>
</table>
